*{
    font-family: 微软雅黑;
    font-size: 17px;
    text-decoration: none;
}
i{
    font-style: normal;
}
ul{

    padding:0;
    margin: 0;
}
.xian{
    width: 0px;
    height: 0;
    border-bottom:1px solid #5f5d5d;
    position: absolute;
    top:0;
    bottom:0;right:0;left:0;
    margin: auto;
    top:-40px;
    /*transition: width 1s;*/
}
.section:first-child{
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section2{
    background-image: url(../img/bizhi1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section3{
    background-image: url(../img/bizhi2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section:nth-child(4){
    background-image: url(../img/bizhi3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section{
    position: relative;
}
.neirong{
    width: 100%;
    height: 100%;
    position: absolute;top:0;left: 0;
}
.pic{
    height: 118px;
    width: 120px;
    position: absolute;
    left: 0;
    top:0;right:0;bottom:0;
    margin: auto;
    top: -33%;
    border: 1px solid #adaaaa;
    background-color: rgba(62,59,59,0.4);
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-size: 212px auto;
    background-position: -41px center;
    border-radius: 50%;
    /*margin: 0 100px;*/
    /*float: left;*/
}
.name{
    /*margin-top: 305px;*/
    /*height: 170px;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*font-family: 微软雅黑;*/
    width: 100%;
    /* margin-top: 305px; */
    height: 170px;
    position: absolute;
    text-align: center;
    font-family: 微软雅黑;
    top: 42%;
}
.name p{
    font-size: 20px;
    margin: 0;
    position: absolute;
    bottom:0;
    width: 100%;
    line-height:34px;
}
.name i {
    width: 100%;
    font-size: 26px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:22px;
}
#menu{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    /*padding: 0 100px;*/
    box-sizing: border-box;
    box-shadow: 0px 0px 8px -2px #000;
}
#menu li{
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
}
#menu a{
    display: inline-block;
    height: 100%;
    width: 50%;
    line-height: 50px;
    border-radius: 7px;
    /*background-color: #ffb60f;*/
}
.jianjie1{
    width: 500px;
    height: 400px;
    border: 1px solid #000;
    border-radius: 7px;
    margin-left: 100px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.65);
    float: left;
}
.jianjie1 p,.jianjie3 p{
    color: #131a2d;
    font-family: Algerian;
    font-size: 22px;
}
.jianjie4 div,.jianjie3 div{
    padding: 0 10px;
    font-size: 16px;
}
.jianjie2{
    width: 250px;
    height: 400px;
    margin-top: 50px;
    margin-left: 10px;
    /*background-color: rgba(255, 255, 255, 0.65);*/
    float: left;
    border: 1px solid #000;
    border-radius: 7px;
    background-image: url(../img/1.jpg);
    background-size: cover;
    opacity: 0.9;
}
.jianjie4{
    margin-top: 50px;
}
.jianjie3{
    width: 370px;
    height: 193px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    float: left;
    border: 1px solid #000;
    border-radius: 7px;
}
.neikuan{
    height: 100%;
    box-sizing: border-box;
    margin: 0 70px;
    /*position: absolute;*/
    /*width: 100%;*/
}
.zhanshi1{
    width: 50%;
    /*height: 100%;*/
    box-sizing: border-box;
    margin: 60px 0;
    background-color: rgba(255, 229, 133, 0.65);
    float: left;
    position: relative;
    /*left: -50%;*/
    overflow: hidden;
}
.zhanshi1,.zhanshi2,.zhanshi3{
    border-radius: 12px;
    height: 600px;
}
.zhanshi1 p,.zhanshi2 p,.zhanshi3 p{
   color: #0d110d;
    font-size: 18px;
    /*font-weight: 600;*/
}
.zhanshi2,.zhanshi3{
    width: 50%;
    /*height: 100%;*/
    box-sizing: border-box;
    background-color: rgba(222, 147, 180, 0.58);
    margin: 60px 0;
    float: left;
    position: relative;
    /*right: -70%;*/
    overflow: hidden;
}
.zhanshi1 .lianjie{
    width: 100%;
    height:100%;
    box-sizing: border-box;
    /*margin: 0 10px;*/
    float: left;
}
.zhanshi1 .lianjie a{
    display: block;
    width: 25%;
    height: 45%;
    line-height: 50px;
    color: #3c2f2f;
    font-size: 20px;
    /*margin-left: -200px;*/
    float: left;
    box-sizing: border-box;
    padding: 20px 10px;
}
.zhanshi2 a,.zhanshi3 a{
    display: block;
    width: 100%;
    height: 50px;
    color: #3c2f2f;
    /*margin-top: -85px;*/
    transition: margin-Top 1s 1.5s;
}
.slide .box1{
    width: 500px;
    height: 500px;
    background-color: #969696;
    margin-left: 90px;
    float: left;
}
@keyframes leftin {
    0%{
        margin-left: -220px;
    }
    100%{
        margin-left:0;
    }
}
.lianjie a:nth-child(2n){
    /*animation: leftin 1s linear 1.5s;*/
    transition: margin-left 1s 1s;
}
.lianjie a:nth-child(2n+1){
    /*animation: leftin 1s linear 1.5s;*/
    transition: margin-left 1s 2s;
}
.zhanshi1 a:hover,.zhanshi2 a:hover,.zhanshi3 a:hover{
    color:#000;
    font-weight: 600;
}
.liaojie{
    padding-top:7px;
    position: relative;
    float: left;
    margin-left: 50px;
}
.liaojie p{
    font-weight: 600;

}
.liaojieimg{
    width: 700px;
    height: 220px;
    position: absolute;
    top:155px;
    right:-97px;
    border-radius: 10px;
}
.liaojieimg .img1{
    width: 220px;
    height: 220px;
    box-sizing: border-box;
    padding: 10px;
    float: left;
    border-radius: 10px;
    border: 1px solid #0a0929;
    margin: 2px;
    opacity: 0;
    transition: opacity 2s;
}
.mokuai1{
    width: 1000px;
    height: 170px;
    /*background-color: red;*/
    border: 1px solid #000;
    margin: 10px auto;
    border-radius: 10px;
}
.mokuai1-1{
    width: 160px;
    height: 160px;
    margin: 5px;
    background-color: red;
    overflow: hidden;
    float: left;
    border-radius: 10px;
}
.mokuai1-2{
    height: 150px;
    width: 800px;
    margin-top: 10px;
    background-color: rgba(4, 4, 13, 0.48);
    float: right;
    margin-right: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    color: #fff;
}
.mokuai2{
    width: 800px;
    height: 500px;
    background-color: #322d46;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}
.dianshang{
    position: relative;
}
.dianshang img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.zhanshi2-1 p,.zhanshi2-2 p{
    text-align: left;
    margin-left: 30px;
}
.zhanshi2-1 a{
    width: 33%;
    float: left;
}
.zhanshi2-2 a{
    width: 33%;
    float: left;
}