.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
	/*float: left;
	padding-left: 15px;
	padding-right: 15px;*/
	/*边框盒子  内容自动收缩  不撑大盒子*/
	box-sizing: border-box;
	/*margin-bottom: 15px;*/
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
/*                            阀值*/
@media screen and (min-width: 320px) {
	/*.container{
		width: 320px;
	}*/
	.col-md-1, .col-md-2, .col-md-4, .col-md-5, .col-md-7, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
		float: left!important;
	}
	.col-xs-1{
		width: 8.333333%;
	}
	.col-xs-2{
		width: 16.666667%;
	}
	.col-xs-3{
		width: 25%;
	}
	.col-xs-4{
		width: 33.333333%;
	}
	.col-xs-5{
		width: 41.666667%;
	}
	.col-xs-6{
		width: 50%;
	}
	.col-xs-7{
		width: 58.333333%;
	}
	.col-xs-8{
		width: 66.666667%;
	}
	.col-xs-9{
		width: 74.999999%;
	}
	.col-xs-10{
		width: 83.333333%;
	}
	.col-xs-11{
		width: 91.666667%;
	}
	.col-xs-12{
		width: 100%;
	}
}
@media screen and (min-width: 768px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
		float: left!important;
	}
	.collapse{
		display: block!important;
		float: none!important;
	}
	.text2{
		margin-left: 10px;
	}
	.container{
		width: 750px;
	}
	.navbar-top{
		display: none;
	}
	.navl li{
		float: left;
	}
	.navl{
		float: left;
		margin: 0;
	}
	.col-sm-1{
		width: 8.333333%;
	}
	.col-sm-2{
		width: 16.666667%;
	}
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33.333333%;
	}
	.col-sm-5{
		width: 41.666667%;
	}
	.col-sm-6{
		width: 50%;
		float: left;
	}
	.col-sm-7{
		width: 58.333333%;
	}
	.col-sm-8{
		width: 66.666667%;
	}
	.col-sm-9{
		width: 74.999999%;
	}
	.col-sm-10{
		width: 83.333333%;
	}
	.col-sm-11{
		width: 91.666667%;
	}
	.col-sm-12{
		width: 100%;
		float: left;
	}
}
@media screen and (min-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
		float: left;
	}
	.container{
		width: 970px;
	}
	.text1{
		float: left;
	}
	.navl li a{
		padding: 15px 30px!important;
	}
	.col-md-1{
		width: 8.333333%;
	}
	.col-md-2{
		width: 16.666667%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.333333%;
	}
	.col-md-5{
		width: 41.666667%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 58.333333%;
	}
	.col-md-8{
		width: 66.666667%;
	}
	.col-md-9{
		width: 74.999999%;
	}
	.col-md-10{
		width: 83.333333%;
	}
	.col-md-11{
		width: 91.666667%;
	}
	.col-md-12{
		width: 100%;
	}
}
@media screen and (min-width: 1200px) {
	.visible{
	    display: inline-block!important;
	}
	.navr{
		width: 303px;
	}
	.container{
		width: 1170px;
	}
	.col-lg-1{
		width: 8.333333%;
	}
	.col-lg-2{
		width: 16.666667%;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33.333333%;
	}
	.col-lg-5{
		width: 41.666667%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-7{
		width: 58.333333%;
	}
	.col-lg-8{
		width: 66.666667%;
	}
	.col-lg-9{
		width: 74.999999%;
	}
	.col-lg-10{
		width: 83.333333%;
	}
	.col-lg-11{
		width: 91.666667%;
	}
	.col-lg-12{
		width: 100%;
	}
}

@media only screen and (max-width: 767px){
	.jieshao a h3{
		font-size: 14px!important;
	}
	.top-logo {
	    float: none!important;
	    margin: 0 auto 10px!important;
	}
	.search{
		width: 150px!important;
	}
	.top-search{
		float: left!important;
	    margin: 0!important;
	}
	.btn{
		padding: 4px 8px!important;
	}
	.navl li a{
		padding: 10px 30px;
	}
	.navr li a{
		padding: 10px 30px!important;
	}
	.bannerr {
	    display: none;
	}
	.text-btn{
		width: 100%!important;
	}
	.banner-text2 h1{
		text-align: left;
	}
	.bannerl{
		text-align: left!important;
	}
	.hidden{
		display: none!important;
	}
	.mokuai4-3{
		margin: 0 auto 20px;
    	width: 130px;
	}
	.mokuai4-3 a img{
		width: 100px!important;
   		 height: 100px!important;
	}
	.djxz{
		display: none;
	}
	.mokuai5{
		height: auto!important;
		float: none;
	}
	.footer-top-1{
		float: none!important;
	    margin-right: 0!important;
	    padding: 0!important;
	    text-align: center!important;
	    border-right: none!important;
	}
	dl{
		width: 33%!important;
   		height: 150px!important;
	}
	.footer-di-1{
		text-align: center!important;
	}
	.col-sm-4{
		width: 100%;
	}
}
@media only screen and (max-width: 1199px) and (min-width: 992px){
	.mokuai1{
		padding: 15px 15px 0!important;
	}
	.products-item a img {
	    width: 100px!important;
	    height: 100px!important;
	}
	.jieshao p{
		margin-bottom: 0!important;
	}
	.navl li a{
		padding: 15px 20px!important;
	}
	.navr{
		width: 243px;
	}
	.bannerl h1{
		font-size: 32px!important;
	}
	.banner-image{
		width: 455px!important;
    	height: 288px!important;
	}
	.wu1 a img{
		width: 449px!important;
    	height: 254px!important;
	}
	.img2{
		margin-top: 21px;
	}
	.mokuai4-3 a img{
		width: 100px!important;
   		 height: 100px!important;
	}
	.mokuai5{
		height: 211px!important;
	}
	.mokuai5 a h3{
		border-top: 1px solid #ddd;
	}
	dl{
		width: 115px!important;
	}
}

@media only screen and (max-width: 991px) and (min-width: 768px){
	.navl li a{
		padding: 15px 8px!important;
	}
	.navl li ul li a{
		padding: 8px!important;
	}
	.navr{
		width: 191px;
	}
	.bannerr{
		display: none;
	}
	.hidden{
		display: none!important;
	}
	.mokuai5{
		height: 315px!important;
	}
	dl{
		width: 90px!important;
	}
	.footer-top-1{
		margin-right: 40px!important;
   		padding: 0 40px!important;
	}
}
@media only screen and (max-width: 991px){
	.bannerl{
		text-align: center;
	}
	.banner-text p{
		text-align: center;
	}
	.bannerl h1{
		text-align: center;
	}
	.mokuai5 a h3{
		border-top: 1px solid #ddd;
	}
	.banner1 p{
		text-align: center!important;
	}
}